*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modalWrapper{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 50%;
    padding: 30px;
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.178);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-30%) translateY(40%);
}

.modalWrapper .modal-trigger{
    display: flex;
    align-items: center;
    justify-content: center;
}


